<head>
<title>Tracks</title>
</head>
<div style="width:40%;height:auto;border:1px solid black;display:flex;margin:0 auto;flex-direction:column;align-items:center;padding:20px;">
<h1 style="margin:0">Trains</h1>

<ul>
  <% @trains.each do |train| %>
  <li>
    <a href= "<%="/trains/#{train.id}"%>"> <%= train.name %> </a>
  </li>
  <% end %>
</ul>


<a href="/trains/new"> Add a new Train </a>
<br>
<a href="/employees">Move to Employee Index</a>
</div>
