<head>
<title>Tracks</title>
</head>
<div style="width:40%;height:auto;border:1px solid black;display:flex;margin:0 auto;flex-direction:column;align-items:center;padding:20px;">

<h2>New Employee</h2>
<% if flash[:errors] %>
<ul>
  <% flash[:errors].each do |error| %>
    <li>
      <%= error %>
    </li>
  <% end %>
</ul>
<% end %>
<form action="/employees" method="post">

  <label>
    Name
    <input type="text" name="employees[name]" value="<%= @employee.name %>">
  </label>
<p></p>
<br>
  <label>
    What Train did they work on?
    <br>
    <select name="employees[train_id]">
      <% @trains.each do |train| %>
      <option value="<%= train.id %>"> <%= train.name %></option>
      <% end %>
      </select>
  </label>
<p></p>
<br>
  <input type="submit" value="Submit New Employee Data">
</form>
<p></p>
<a href="/employees">Go Back</a>
</div>
