<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tracks</title>
  </head>
  <body>
    <div style="width:40%;height:auto;border:1px solid black;display:flex;margin:0 auto;flex-direction:column;align-items:center;padding:20px;">
      <h1>Welcome to Tracks!</h1>
      <a href="/employees">Go to Employees Index</a>
      <br><p></p>
      <a href="/trains">Go to Trains Index</a>
    </div>
  </body>
</html>
