<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tracks</title>
  </head>
  <body>
    <h1>Welcome to Tracks!</h1>
    <a href="/employees">Go to Employees Index</a>
    <br><p></p>
    <a href="/trains">Go to Trains Index</a>
  </body>
</html>
